@media screen {
    table {
        border-collapse: collapse;
    }
    .interactive {
        display: inline;
    }
    #boxLayout {
        display: box;
        display: -webkit-box;
        display: -moz-box;
    }
    #boxLayout p {
        padding-right: 50px;
    }
    #help {
        box-flex: 0;
    }
    #inputDiv {
        position: relative;
        top: 30px;
    }
    #inText {
        box-flex: 1;
    }
    .printHead {
        display: none;
    }
    .space-entry {
        width: 50%;
        padding: 10px 10px 10px 10px;
    }
    #outputTable {
        width: 80%;
        border: 0px;
    }
    .ptable {
        display: none;
        width: 100%;
    }
    .ptable th {
        padding: 5px 10px 5px 3px;
    }
    .ptable td {
        border: 1px solid #cccccc;
        padding: 5px 3px 5px 5px;
    }
    .ptable .label {
        font-family: sans-serif;
        font-weight: bold;
        text-align: right;
        white-space: nowrap;
        width: 20%;
    }
    .ptable .value {
        font-weight: normal;
        text-align: left;
        width: 80%;
    }
}
@media print {
    @page {
        margin-top: 1cm;
        margin-left: 2.5cm;
        margin-right: 2.5cm;
    }
    table {
        border-collapse: collapse;
    }
    .interactive {
        display: none;
    }
    .printHead {
        display: inline;
        line-height: 1.5;
        padding-left: 40px;
    }
    #printTitle {
        font-family: sans-serif;
        font-weight: bold;
        text-align: center; 
        font-size: 25px;
        padding-bottom: 30px;       
    }
    #outputTable {
        width: 100%;
        border: 0px;
    }
    .space-entry {
        width: 50%;
        padding: 10px 10px 10px 10px;
    }
    .ptable {
        width: 100%;
        display: inline;
        border: 1px solid black;
    }
    .ptable td, th {
        border: 2px solid black;
        padding: 3px 3px 3px 3px;
    }
    .ptable .label {
        font-family: sans-serif;
        font-size: 15pt;
        font-weight: bold;
        text-align: right;
        white-space: nowrap;
        width: 20%;
    }
    .ptable .value {
        font-weight: normal;
        font-size: 15pt;
        text-align: left;
        white-space: nowrap;
        width: 80%;
    }
}

.columns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}


.container {
    text-align: right;
    font-size: 15pt;
    font-family: sans-serif;
    font-weight: bold;
	margin-left: 2.5cm;
}

#primary {
    float: left;
    width: 50%;
    height: 50%;
}

#secondary {
    float: left;
    width: 50%;
    height: 100%;
}

#formatting {    
    float: left;
    width: 40%;
    height: 100%;
}

#formatting p {    
    font-size: 14px;
    font-family: "Courier New";
}

.columnview {
    margin-left: 1em;
}

#textbox {
    float: left;
    width: 60%;
    height: 100%;
}

#warning {
	font-size: 15px;
	text-align: center;
}

.blank {	
    text-decoration: underline;
}

.wrapper{
    max-width:1247px;
}
.header{
    color: #ffffff;
    background:#1e3864;
    border-bottom: 5px solid #b3e784;
    box-shadow:inset 1px 1px 0 rgba(255,255,255,.6),0px 2px 2px rgba(0,0,0,.15);
    min-height:50px;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.nav,.nav li,.nav-play,.nav-play li{
    display:block;
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.nav{
    padding:10px 6px 10px 6px;
}

body, html { 
    font-family: Open Sans;
    margin: 0; 
}

#adcontent {
    display: block;
    margin: auto;
    width: 468px;
    height: 60px;
    padding-bottom: 20px;
}